div.element {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    padding: 0px;
    margin: 1px;
    border-radius: 5px;
}

div.empty {
    width: 62px;
    height: 62px;
    padding: 0px;
    margin: 1px;
    border-radius: 5px;
}

  div#column{
    float:left;
  }

  div#alkali{
    background-color: lightseagreen;
  }

  div#alkali-earth {
    background-color:lightcoral
  }

  div#transition {
    background-color: plum;
  }

  div#post-transition {
    background-color: lightgreen;
  }

  div#metalloid {
    background-color: goldenrod;
  }

  div#nonmetal{
    background-color: lightskyblue;
  }

  div#noble {
    background-color: palevioletred;
  }

  div#lathanide {
    background-color: cornflowerblue;
  }

  div#actinide {
    background-color: salmon;
  }

  div#unknown {
    background-color:lightgray;
  }

  div#wrapper{
    background-color: blanchedalmond;
    min-width: 1200px;
    min-height: 700px;
    }